.catalog {
  // margin-top: 30px;
}

.catalog__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog__item {
  margin-bottom: 30px;
}

// Tablet
@media (min-width: $tablet-width) {
  .catalog__item {
    margin-bottom: 54px;
  }
}
// END Tablet

// Desktop
@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -25px;
    margin-right: -25px;
  }

  .catalog__item {
    flex-shrink: 0;
    width: 33.33333%;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;
  }
}
// END Desktop
