.container {
  width: 100%;
  padding: 0 $container-padding;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $tablet-width;
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
  }
}

.container--full {
  padding-left: 0;
  padding-right: 0;
}
