.features {
  padding-top: 30px;
  padding-bottom: 50px;
}

.features__title {
  margin-bottom: 5px;
}

.features__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.features__item {
  position: relative;

  padding: 80px 0 5px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $features-color;
}

.features__icon {
  position: absolute;
  left: 0;
  top: 40px;

  transform: translateY(-50%);

  path {
    fill: $features-icon-color;
  }
}

.features__item--ecology .features__icon {
  left: 8px;
}

.features__item--likes .features__icon {
  left: 7px;
}

.features__item--cute .features__icon {
  left: 3px;
}

.features__item--domestic .features__icon {
  left: -4px;
}

.features__item--wrapping .features__icon {
  left: 3px;
}

//
// == Media
//

// Tablet
@media (min-width: $tablet-width) {
  .features {
    padding-top: 50px;
  }

  .features__title {
    margin-bottom: 20px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    order: 7; // custom order for 2-col layout
    flex-shrink: 0;
    width: 50%;
    padding-bottom: 30px;

    font-size: 20px;
    line-height: 22px;
  }

  // custom order for 2-col layout
  .features__item--ecology {
    order: 1;
  }

  .features__item--cute {
    order: 2;
  }

  .features__item--style {
    order: 3;
  }

  .features__item--domestic {
    order: 4;
  }

  .features__item--likes {
    order: 5;
  }

  .features__item--wrapping {
    order: 6;
  }
}
// END Tablet

// Desktop
@media (min-width: $desktop-width) {
  .features {
    padding-top: 65px;
    padding-bottom: 55px;
  }

  .features__title {
    margin-bottom: 15px;
  }

  .features__container {
    padding-left: $container-padding-tablet + $inner-padding;
    padding-right: $container-padding-tablet + inner-padding;
  }
}
// END Desktop
