// Mixins
@mixin navbar-item {
  min-height: 79px;
  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: $navbar-gutter;
  padding-right: $navbar-gutter;
  border-bottom: $navbar-border;
}

@mixin navbar-primary-text-settings {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

@mixin navbar-secondary-text-settings {

}
// /Mixins

/* Primary menu bar */
.navbar__nav {
  position: relative;

  background-color: $navbar-bg-color;
}


/* Logo */
.navbar__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 0;
  margin: 0;
  border-top: $navbar-border;
  border-bottom: $navbar-border;
}

.navbar__logo {
  text-decoration: none;
}

.navbar__logo-image {
  display: block;
}

/* Menu toggle */
.navbar__toggle {
  position: absolute;
  top: 28px;
  right: $navbar-gutter + 1px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/icon-menu-close.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

.navbar__toggle--open {
  background-image: url("../img/icon-menu-open.svg");
}

.navbar__nav-wrapper {
  background-color: $navbar-bg-color;
}

.navbar__nav-links {
  padding: 0;
  margin: 0;

  list-style: none;
}

.navbar__nav-item,
.navbar__search,
.navbar__cart {
  @include navbar-item;
}

.navbar__nav-link,
.navbar__search-link,
.navbar__cart-link {
  @include navbar-primary-text-settings;

  text-decoration: none;
}

.navbar__nav-link {
  margin-left: $navbar-link-margin;
}

.navbar__subnav {
  display: none;
}
