.page-footer {
  margin-top: 58px;
  background-color: $page-footer-bg-color;
}

.index-page .page-footer,
.slim-page .page-footer {
  margin-top: 0;
}

.page-footer__logo {
  display: none;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-img {
  display: block;
}

.page-footer__logo:hover .page-footer__logo-img,
.page-footer__logo:focus .page-footer__logo-img {
  fill: $primary-color-dark;
}

.page-footer__copyright {
  padding: 22px 0 23px;
  margin: 0;

  text-align: center;
}

.page-footer__copyright-link {
  display: inline-flex;
  align-items: center;

  font-weight: 700;
  font-size: 19px;
  line-height: 1;
  text-decoration: none;
  color: $title-color;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-logo {
  margin-left: 30px;

  fill: $primary-color;
}

.page-footer__copyright-link:hover .page-footer__copyright-logo,
.page-footer__copyright-link:focus .page-footer__copyright-logo {
  fill: $primary-color-dark;
}

//
// ==Media
//

// Tablet
@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 63px;
  }

  .page-footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer__logo {
    display: block; // show after hiding
    flex-grow: 1;
    flex-basis: 0%;
    margin-top: 51px;
    margin-bottom: 58px;
  }

  .page-footer__social {
    flex-shrink: 0;
    align-self: center;
    width: 230px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 58px;
  }
}
// END Tablet

// Desktop
@media (min-width: $desktop-width) {
  .page__footer {
    margin-top: 105px;
  }
}
// END Desktop
