.page-header {
  position: relative;

  margin-bottom: 30px;

  background-color: $page-header-bg-color;
}

.index-page .page-header {
  // margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: 79px;
  }

  .index-page .page-header {
    margin-bottom: 46px;
  }

  // Wave border
  .page-header::after {
    content: "";

    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    z-index: 5;

    height: 22px;

    background: transparent url("../img/bg-zigzag-fill.svg") 50% 100% repeat;
    // background-size: 744px 22px; // without svg preserveAspectRatio
    background-size: 768px 22px;

    pointer-events: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: 128px;
  }

  .index-page .page-header {
    margin-bottom: 70px;
  }

  .page-header::after {
    bottom: -17px;
    height: 34px;
    background-size: 1250px 34px;
  }
}
