*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: $mobile-width;
  padding: 0;
  margin: 0;

  font-style: $default-font-style;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  line-height: $default-line-height;
  font-family: $default-font-family;
  color: $default-font-color;

  background-color: $bg-color;
}

@media (min-width: $tablet-width) {
  body {
    font-size: $default-font-size-tablet;
    line-height: $default-line-height-tablet;
  }
}

img {
  max-width: 100%;
  height: auto;
}
