@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;

  text-indent: -9999px;
  white-space: nowrap;
  user-select: none;

  background-color: transparent;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin no-gutters {
  margin-left: -$container-padding;
  margin-right: -$container-padding;

  @media (min-width: $tablet-width) {
    margin-left: -$container-padding-tablet;
    margin-right: -$container-padding-tablet;
  }
}

@mixin full-width {
  position: relative;
  left: 50%;
  right: 50%;

  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin full-width-reset($width: auto, $position: static) {
  position: $position;
  left: auto;
  right: auto;

  width: $width;
  margin-left: 0;
  margin-right: 0;
}

@mixin label-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $label-color;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 1;
  }
}
