@mixin visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;

  text-indent: -9999px !important;
  white-space: nowrap !important;

  background-color: transparent !important;

  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
  user-select: none !important;
}

@mixin no-gutters {
  margin-left: -$container-padding;
  margin-right: -$container-padding;

  @media (min-width: $tablet-width) {
    margin-left: -$container-padding-tablet;
    margin-right: -$container-padding-tablet;
  }
}

@mixin full-width {
  position: relative;
  left: 50%;
  right: 50%;

  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin full-width-reset($width: auto, $position: static) {
  position: $position;
  left: auto;
  right: auto;

  width: $width;
  margin-left: 0;
  margin-right: 0;
}
