//
// Sitewide configuration variables
//


// Grid
$mobile-width: 320px !default;
$tablet-width: 768px !default;
$desktop-width: 1150px !default;
$media-diff: 0.02px !default; // for max-width media queries
$inner-padding: 175px !default; // inner padding in wide blocks on desktop

// Container
$container-padding: 30px !default;
$container-padding-tablet: 50px !default;

// Colors
$color-white: rgb(255, 255, 255) !default;
$color-black: rgb(0, 0, 0) !default;
$color-gray: rgb(236, 236, 236) !default;
$color-darkgray: rgb(68, 68, 68) !default;
$color-lightgray: rgb(241, 241, 241) !default;

$primary-color: rgb(99, 209, 187) !default;
$primary-color-darken: rgb(89, 213, 188) !default;
$primary-color-semidark: rgb(86, 195, 178) !default;
$primary-color-dark: rgb(70, 193, 174) !default;
$bg-color: $color-white !default;


// Default borders
$border-color: $color-gray !default;
$border: 1px solid $border-color !default;

// Shadow
$shadow-color: rgba(0, 1, 1, 0.25) !default;
$box-shadow: 0 5px 10px $shadow-color !default;


// Default font
$default-font-style: normal !default;
$default-font-weight: 400 !default;
$default-font-size: 15px !default;
$default-line-height: 24px !default;
$default-font-size-tablet: 17px !default;
$default-line-height-tablet: 30px !default;
$default-font-family: "Open Sans", "Arial", sans-serif !default;
$default-font-color: $color-darkgray !default;

$text-color-dark: $color-black !default;
$text-color-light: $color-white !default;

// === Common blocks

// Title
$title-color: $color-black !default;

// Button
$btn-border-color: $color-darkgray !default;
$btn-color: $default-font-color !default;
$btn-bg-color: $bg-color !default;
$btn-hover-bg-color: $color-darkgray !default;

// === Content blocks

// Page header
$page-header-bg-color: $color-lightgray !default;

// Nav
$nav-color: $color-black !default;
$nav-bg-color: $color-white !default;
$nav-border-color: $color-gray !default;

// Searchbox
$searchbox-color: $nav-color !default;
$searchbox-border-color: $nav-border-color !default;

// Cartbox
$cartbox-color: $nav-color !default;
$cartbox-border-color: $nav-border-color !default;

// Footer
$page-footer-bg-color: $color-lightgray !default;

// Category nav
$category-nav-icon-fill: rgb(20, 144, 128) !default;
$category-nav-bg-color: rgb(249, 249, 249) !default;


// Featured product card
$featured-product-card-title-color: $title-color !default;


// Features
$features-color: $color-black !default;
$features-icon-color: $primary-color !default;


// Modal
$modal-border-color: rgb(198, 198, 198) !default;

// Size-select
$size-select-text-color: $color-darkgray !default;
$size-select-border-color: rgba($color-darkgray, 0.1) !default;
